@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* 
@import "tailwindcss/forms";

@import "tailwindcss/typography"; */

* {
  transition: all 300ms;
}

body {
  background-color: #fdfdfd;
}

/* Webkit browsers (Chrome, Safari) */
.scrollbar-edited::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-edited::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.scrollbar-edited::-webkit-scrollbar-thumb {
  background: rgb(7, 10, 24); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollbar-edited::-webkit-scrollbar-thumb:hover {
  background: #f0f8ff; /* Color of the scrollbar thumb on hover */
}
